.audio-button {
  position: fixed;
  background: transparent;
  overflow: hidden;
  height: 3vw;
  width: 3vw;
  object-fit: cover;
  border: none;
  border-radius: 1.5vw;
  right: 2vw;
  bottom: 2vw;
}

.audio-button:hover {
  background: white;
  box-shadow: 1px 1px 10px 2.5px white;
}
