#audio-button img {
  position: fixed;
  background: transparent;
  overflow: hidden;
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
  border: none;
  border-radius: 1.75rem;
  right: 2rem;
  bottom: 2rem;
  z-index: 4;
}

#audio-button img:hover {
  background: white;
  box-shadow: 1px 1px 10px 2.5px white;
}
