#experience-view-item {
  background: var(--card-color);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid var(--card-border-color);
}

#experience-view-item:hover {
  background: var(--card-hover-color);
}

#experience-view-item img {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
  padding: 0.8rem;
  background: var(--button-color);
  border-radius: 1rem;
}

#experience-view-item:hover img {
  background: var(--button-hover-color);
  box-shadow: 1px 1px 10px 2.5px var(--primary-color);
}

.experience-view-item-title {
  font-size: 2rem;
}

.experience-view-item-subtitle {
  margin: 1rem 0;
  font-size: 1.1rem;
  color: var(--subtitle-color);
}

.experience-view-item-years {
  font-size: 0.9rem;
  color: var(--subtitle-color);
}
