#experience-view {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin-bottom: 5%;
  overflow: hidden;
  gap: 2rem;
}

.experience-view-title {
  font-family: "Reggae One", sans-serif;
  font-size: 3.5rem;
}

.experience-view-title-highlight {
  font-family: "Reggae One", sans-serif;
  font-size: 3.5rem;
  color: #4bff00;
  text-shadow: 1px 1px 10px #4bff00;
  display: inline-block;
}
