#gamer-view {
  height: auto;
  width: 25vw;
  overflow: hidden;
  transition: opacity 500ms ease-in-out;
}

.gamer-view-content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.gamer-view-title {
  text-align: end;
  font-size: 2.5vw;
  font-weight: bold;
}

.gamer-view-title span {
  font-family: "Shojumaru", sans-serif;
}

.gamer-view-para {
  font-size: 1vw;
  font-weight: 300;
  text-align: end;
  letter-spacing: 1px;
  margin-bottom: 1vh;
}
