.image-button {
  background: transparent;
  height: 3vw;
  width: 3vw;
  object-fit: cover;
  margin: 0.5vw;
  border: none;
  border-radius: 1.5vw;
}

.image-button:hover {
  background: white;
  box-shadow: 1px 1px 10px 2.5px white;
}
