#profile-view {
  height: min-content;
  width: 22rem;
  min-width: 22rem;
  max-width: 22rem;
  background: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  padding: 3rem 0.5rem;
  border-radius: 1rem;
  overflow: hidden;
  font-weight: normal;
  margin-right: 4rem;
  border: 1px solid var(--card-border-color);
}

@media (max-width: 1024px) {
  #profile-view {
    margin-right: 0;
    width: 100%;
    min-width: auto;
    max-width: none;
    margin-bottom: 20%;
  }
}

.profile-view-profile {
  height: 15rem;
  width: 15rem;
  border-radius: 7.5rem;
  margin-bottom: 1rem;
  border: 5px solid white;
}

.profile-view-title {
  font-size: 2rem;
  font-family: "Reggae One", sans-serif;
  margin-bottom: 0.5rem;
}

.profile-view-para {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: var(--subtitle-color);
}

.profile-view-social {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 6rem;
}
