#project-view-item {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 2rem;
  box-shadow: 1px 1px 5px 1px black;
  display: flex;
  flex-direction: column;
}

#project-view-item img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}

#project-view-item div {
  position: absolute;
  direction: rtl;
  bottom: 7.5%;
  right: 7.5%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: 7.5%;
}

#project-view-item div img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}

#project-view-item div img:hover {
  box-shadow: 1px 1px 10px 2.5px var(--primary-color);
  background: white;
}
