.send-button {
  height: 3rem;
  background: var(--button-color);
  color: var(--button-title-color);
  border: none;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: medium;
  text-transform: capitalize;
}

.send-button-warn {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 0;
  font-weight: normal;
  font-size: small;
  color: rgb(255, 255, 255, 0.5);
}

.send-button:hover {
  background: var(--button-hover-color);
  color: var(--button-title-hover-color);
  box-shadow: 1px 1px 10px 2.5px var(--primary-color);
}

.send-button:disabled {
  background: var(--button-disabled-color);
  color: var(--button-title-disabled-color);
}

.send-button:disabled:hover {
  box-shadow: none;
}

.send-button img {
  object-fit: cover;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}
