#tech-view {
  height: auto;
  max-width: 80vw;
  padding-left: 26rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  overflow: hidden;
}

.tech-view-title {
  font-family: "Reggae One", sans-serif;
  font-size: 3.5rem;
}

.tech-view-title-highlight {
  font-family: "Reggae One", sans-serif;
  font-size: 3.5rem;
  color: var(--primary-color);
  text-shadow: 1px 1px 10px var(--primary-color);
  display: inline-block;
}

.tech-view-content {
  margin-top: 2rem;
  border-radius: 1rem;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 1rem;
}

.tech-view-content::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  #tech-view {
    padding-left: 0;
  }
}

@media (max-width: 700px) {
  .tech-view-title {
    font-size: 2.5rem;
  }
  .tech-view-title-highlight {
    font-size: 2.5rem;
  }
}

@media (max-width: 460px) {
  .tech-view-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 460px) and (max-width: 700px) {
  .tech-view-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .tech-view-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) and (max-width: 1300px) {
  .tech-view-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1300px) and (max-width: 1700px) {
  .tech-view-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
