.toolbar {
  width: 100vw;
  padding: 2vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  background: var(--card-color);
}

.logo {
  object-fit: cover;
  height: auto;
  width: 5rem;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  background: black;
  padding: 1vh 1vw;
  border-radius: 1vh;
  gap: 1vw;
}

.tabItem {
  cursor: pointer;
  font-size: 1rem;
  color: white;
}

.tabs img {
  padding: 0.25rem;
  cursor: pointer;
  width: 2rem;
  width: 2rem;
  object-fit: cover;
}

.tabs img:hover {
  box-shadow: 1px 1px 10px 2.5px var(--primary-color);
  border-radius: 1rem;
  background: var(--selector-color);
}

@media (max-width: 600px) {
  .tabs {
    grid-template-columns: repeat(5, 1fr);
  }

  .tabs img {
    width: 1.5rem;
    width: 1.5rem;
  }

  .logo {
    object-fit: cover;
    height: auto;
    width: 3rem;
  }
}
