.toolbar {
  width: 100vw;
  padding: 2vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  background: rgb(0, 0, 0, 0.25);
}

.logo {
  object-fit: cover;
  height: auto;
  width: 5rem;
}

.tabs {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255, 0.01);
  padding: 1.5vh 0.5vw;
  border-radius: 1vh;
}

.tabItem {
  margin: 0 1vw;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}

.tabItem:hover {
  text-shadow: 1px 1px 10px #4bff00;
}

.tabItem::selection {
  color: #4bff00;
  text-shadow: 1px 1px 10px #4bff00;
}
