.btn-music {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  height: 3rem;
  width: 3rem;
  border: none;
  background: white;
  color: black;
  border-radius: 1rem;
}

.btn-music:hover {
  background: #4bff00;
}

.btn-music img {
  object-fit: cover;
  height: 1.25rem;
  width: 1.25rem;
  margin-top: 0.4rem;
}
