.normal-button {
  height: 3rem;
  background: white;
  color: black;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: medium;
  text-transform: uppercase;
}

.normal-button:hover {
  background: black;
  color: white;
  box-shadow: 1px 1px 5px 2.5px white;
}

.normal-button img {
  object-fit: cover;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}
