#splitView {
  height: 45vw;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.image-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 30vw;
}

.image {
  position: absolute;
  width: 80%;
  height: 80%;
  object-fit: cover;
  transition: clip-path 500ms linear, transform linear;
}
