.btnMusic {
  height: 3rem;
  width: 3rem;
  margin-left: 1rem;
  border: none;
  background: white;
  color: black;
  border-radius: 1rem;
  align-items: center;
}

.btnMusic:hover {
  background: #4bff00;
}

.btnMusic img {
  object-fit: cover;
  height: 1.25rem;
  width: 1.25rem;
  margin-top: 0.4rem;
}
