* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Outfit", sans-serif;
}

body {
  background: var(--secondary-color);
  color: var(--title-color);
  overflow: hidden;
  overflow-y: auto;
}

.app-profile {
  height: auto;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: normal;
}

@media (max-width: 1024px) {
  .app-profile {
    flex-direction: column;
  }
}

:root {
  --primary-color: #4bff00;
  --secondary-color: #021233;
  --title-color: white;
  --subtitle-color: rgb(255, 255, 255, 0.75);
  --button-color: white;
  --button-hover-color: black;
  --button-title-color: black;
  --button-disabled-color: gray;
  --button-title-hover-color: white;
  --button-title-disabled-color: white;
  --card-color: rgb(0, 0, 0, 0.25);
  --card-border-color: rgb(255, 255, 255, 0.05);
  --card-hover-color: rgb(255, 255, 255, 0.05);
}

@import url("./styles/audio_button.css");
@import url("./styles/coder_view.css");
@import url("./styles/contact_button.css");
@import url("./styles/contact_view.css");
@import url("./styles/experience_view.css");
@import url("./styles/experience_view_item.css");
@import url("./styles/footer_view.css");
@import url("./styles/gamer_view.css");
@import url("./styles/home_view.css");
@import url("./styles/image_button.css");
@import url("./styles/profile_view.css");
@import url("./styles/project_view_item.css");
@import url("./styles/projects_view.css");
@import url("./styles/resume_button.css");
@import url("./styles/send_button.css");
@import url("./styles/tech_view.css");
@import url("./styles/toolbar.css");
