* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #021233;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

.btnNormal {
    height: 3rem;
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    border-radius: 1rem;
    font-weight: 600;
}

.btnNormal:hover {
    background: #4BFF00;
}

.btnNormal img {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
}